
__pycache__/generate_puzzles.cpython-312.pyc
*.pyc
__pycache__/play_puzzle.cpython-312.pyc
__pycache__/params.cpython-312.pyc
__pycache__/generate_puzzles.cpython-312.pyc
__pycache__/params.cpython-312.pyc
*.pyc
__pycache__/generate_puzzles.cpython-312.pyc
*.pyc
